<div class="searchBar">
  <div class="container">
    <form action="/search" method="post" class="search_form" role="search">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search The Blog"
      />
    </form>
    <i
      class="fa-solid fa-rectangle-xmark fa-5x"
      style="color: #c4bcdc"
      id="close"
    ></i>
  </div>
</div>
