<div class="contact-container">
  <h1>Contact Information</h1>
  <div class="contact-item">
    <i class="fas fa-user"></i> <strong>Lohit Abhiram</strong>
  </div>

  <div class="contact-item">
    <i class="fas fa-phone-alt"></i> +91-8247857632
  </div>

  <div class="contact-item">
    <i class="fas fa-envelope"></i>
    <a href="mailto:lawork.2025@gmail.com"
      >lawork.2025@gmail.com</a
    >
  </div>

  <div class="contact-item">
    <i class="fab fa-linkedin"></i>
    <a
      href="www.linkedin.com/in/lohit-abhiram-naidu-gangiredla-7b4015256"
      target="_blank"
      >linkedin.com/in/lohitabhiram</a
    >
  </div>

  <div class="contact-item">
    <i class="fab fa-github"></i>
    <a href="https://github.com/22je0249" target="_blank"
      >github.com/lohitabhiram</a
    >
  </div>
</div>
